* {
    box-sizing: border-box;
}

/* html {
    font-family: play, serif;
    color: #626262;
} */

body {
    margin: 0;
}

/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.direction-col {
    flex-direction: column;
}
/* Nav */

.main-nav{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 66px;
    background-color: #ff7f00;
}


/* images grid */

.imgs{
    margin-left: 20px;
    margin-right: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 30px;
    gap: 20px;
}
.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 5;
    grid-column: span 3;
    border-radius: 10px;
}

/* modal */
.canvas-container {
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
}